In [67]:
import pandas as pd
from ta.utils import dropna
import ta.trend as ta_trend
import ta.momentum as ta_mmt
import ta.others as ta_other
import ta 

#https://pypi.org/project/ta/
#https://github.com/bukosabino/ta
#https://technical-analysis-library-in-python.readthedocs.io/en/latest/

# Build Technoical Indicator by TA

In [68]:
df=pd.read_csv('data/SPY-Close-2023.csv',parse_dates=['Date/Time'],
                         index_col='Date/Time',dayfirst=True)


df['EMA-10']=ta_trend.ema_indicator(close=df['close'],window=10,fillna=True).round(3)

df['MACD-10-20']=ta_trend.macd(close=df['close'], window_slow=20, window_fast=10, fillna=True).round(3)
df['SIGNAL-10-20-15']=ta_trend.macd_signal(close=df['close'], window_slow=20, window_fast=10,window_sign=15, fillna=True).round(3)


df['RSI-15']=ta_mmt.rsi(close=df['close'],window=15,fillna=True).round(3)
df['RSI-15-MA-5']=ta_trend.sma_indicator(close=df['RSI-15'],window=5,fillna=True).round(3)

df.info()
df.tail(10)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 87 entries, 2023-01-03 to 2023-05-08
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ticker           87 non-null     object
 1   close            87 non-null     float64
 2   EMA-10           87 non-null     float64
 3   MACD-10-20       87 non-null     float64
 4   SIGNAL-10-20-15  87 non-null     float64
 5   RSI-15           87 non-null     float64
 6   RSI-15-MA-5      87 non-null     float64
dtypes: float64(6), object(1)
memory usage: 5.4+ KB

,Ticker,close,EMA-10,MACD-10-20,SIGNAL-10-20-15,RSI-15,RSI-15-MA-5
Date/Time,,,,,,,
2023-04-25,SPY,406.08,410.656,2.137,2.632,49.011,58.150
2023-04-26,SPY,404.36,409.511,1.388,2.476,46.603,54.839
2023-04-27,SPY,412.41,410.038,1.507,2.355,57.156,54.455
2023-04-28,SPY,415.93,411.109,1.873,2.295,60.787,54.718
2023-05-01,SPY,415.51,411.910,2.076,2.268,60.135,54.738
2023-05-02,SPY,410.84,411.715,1.786,2.207,53.327,55.602
2023-05-03,SPY,408.02,411.043,1.296,2.093,49.687,56.218
2023-05-04,SPY,405.13,409.968,0.660,1.914,46.223,54.032
2023-05-05,SPY,412.63,410.452,0.828,1.778,54.955,52.865
2023-05-08,SPY,412.74,410.868,0.947,1.675,55.070,51.852

# Load AB Indy

In [69]:
dfAB=pd.read_csv('data/SPY-AB-Indy-2023.csv',parse_dates=['Date/Time'],
                         index_col='Date/Time',dayfirst=True)
dfAB=dfAB.drop(columns=['Ticker','Price','EMA2','EMA3'])
dfAB.info()
dfAB.tail(10)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 87 entries, 2023-01-03 to 2023-05-08
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   EMA1    87 non-null     float64
 1   MACD    87 non-null     float64
 2   SIGNAL  87 non-null     float64
 3   RSI     87 non-null     float64
 4   RSI-MA  87 non-null     float64
dtypes: float64(5)
memory usage: 4.1 KB

              EMA1  MACD  SIGNAL    RSI  RSI-MA
Date/Time
2023-04-25  410.66  2.13    2.62  48.97   58.01
2023-04-26  409.51  1.39    2.47  46.58   54.73
2023-04-27  410.04  1.50    2.35  57.07   54.36
2023-04-28  411.11  1.87    2.29  60.69   54.64
2023-05-01  411.91  2.07    2.26  60.05   54.67
2023-05-02  411.72  1.78    2.20  53.28   55.53
2023-05-03  411.04  1.29    2.09  49.66   56.15
2023-05-04  409.97  0.66    1.91  46.21   53.98
2023-05-05  410.45  0.83    1.77  54.92   52.82
2023-05-08  410.87  0.95    1.67  55.03   51.82

In [70]:
dfAll=pd.merge(left=df,right=dfAB,how='inner',left_index=True,right_index=True)
dfAll.tail(10)

,Ticker,close,EMA-10,MACD-10-20,SIGNAL-10-20-15,RSI-15,RSI-15-MA-5,EMA1,MACD,SIGNAL,RSI,RSI-MA
Date/Time,,,,,,,,,,,,
2023-04-25,SPY,406.08,410.656,2.137,2.632,49.011,58.150,410.66,2.13,2.62,48.97,58.01
2023-04-26,SPY,404.36,409.511,1.388,2.476,46.603,54.839,409.51,1.39,2.47,46.58,54.73
2023-04-27,SPY,412.41,410.038,1.507,2.355,57.156,54.455,410.04,1.50,2.35,57.07,54.36
2023-04-28,SPY,415.93,411.109,1.873,2.295,60.787,54.718,411.11,1.87,2.29,60.69,54.64
2023-05-01,SPY,415.51,411.910,2.076,2.268,60.135,54.738,411.91,2.07,2.26,60.05,54.67
2023-05-02,SPY,410.84,411.715,1.786,2.207,53.327,55.602,411.72,1.78,2.20,53.28,55.53
2023-05-03,SPY,408.02,411.043,1.296,2.093,49.687,56.218,411.04,1.29,2.09,49.66,56.15
2023-05-04,SPY,405.13,409.968,0.660,1.914,46.223,54.032,409.97,0.66,1.91,46.21,53.98
2023-05-05,SPY,412.63,410.452,0.828,1.778,54.955,52.865,410.45,0.83,1.77,54.92,52.82
2023-05-08,SPY,412.74,410.868,0.947,1.675,55.070,51.852,410.87,0.95,1.67,55.03,51.82