In [51]:
import pandas as pd
import datetime as datetime
import os
# ! pip install xlsxwriter --user

In [52]:
data_path=r'D:\PythonDev\MyQuantFinProject\Data'
data_file='TH-SMALL-07To09Y23.csv'
isPy=False 
isPriceExcel=False

# Specify Period and Timefame to caculate fund performance and

In [53]:
from_str='2023-08-28'
to_str='2023-09-30' 
#timeframe='M'
timeframe='W-FRI'

# Input data

In [54]:
if isPy:
    print(f"Data csv file in Path: {data_path}")
    data_file=input("CSV file name : ")

    from_str=input("From_date(2020-10-01) : ") 
    to_str=input("To_date(2022-12-31): ") 
    timeframe=input("Timeframe(W-FRI,M,Q,Y): ") 
  
    print(f"Process data from {from_str} to {to_str} in {timeframe} timeframe")
    press_y=input(f"Press y=True and n=False to run analaystics : ") 
    if press_y.lower()=='y':
     ok=True
    else:
     exit()

In [55]:
report_prefix_name=data_file.split('.')[0]
data_file=os.path.join(data_path,data_file)
if os.path.exists(data_file)==False:
    raise Exception(f"not found {data_file}")
else:
    print(f"Process file {data_file}")
print(data_file)

Process file D:\PythonDev\MyQuantFinProject\Data\TH-SMALL-07To09Y23.csv
D:\PythonDev\MyQuantFinProject\Data\TH-SMALL-07To09Y23.csv

# Read csv file and extract and transform data as need

In [56]:
df = pd.read_csv(data_file,index_col='Date/Time',parse_dates=['Date/Time'],dayfirst=True)
df.index.set_names('date',inplace=True)
df.sort_index(inplace=True)
df=df.rename(columns={'Ticker':'symbol','close':'price'})
df=df.loc[from_str:to_str,['symbol','price']]
print(df.info())

list_symbol=df['symbol'].unique().tolist() 
print(list_symbol)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 150 entries, 2023-08-28 to 2023-09-29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  150 non-null    object
 1   price   150 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB
None
['ASP-SME', 'KKP-TQG', 'KKP-SM-CAP', 'KTMSEQ', 'K-MIDSMALL', 'TISCOMS-A']

In [57]:
df.head(len(list_symbol)*3)

                symbol  price
date
2023-08-28     ASP-SME  19.24
2023-08-28     KKP-TQG   8.59
2023-08-28  KKP-SM-CAP  15.00
2023-08-28      KTMSEQ  18.64
2023-08-28  K-MIDSMALL  17.17
2023-08-28   TISCOMS-A  20.03
2023-08-29     KKP-TQG   8.72
2023-08-29  KKP-SM-CAP  15.10
2023-08-29  K-MIDSMALL  17.35
2023-08-29     ASP-SME  19.42
2023-08-29      KTMSEQ  18.81
2023-08-29   TISCOMS-A  20.25
2023-08-30     ASP-SME  19.51
2023-08-30      KTMSEQ  18.99
2023-08-30     KKP-TQG   8.82
2023-08-30  KKP-SM-CAP  15.37
2023-08-30  K-MIDSMALL  17.52
2023-08-30   TISCOMS-A  20.49

In [58]:
df.tail(len(list_symbol)*3)

                symbol  price
date
2023-09-27  KKP-SM-CAP  14.54
2023-09-27  K-MIDSMALL  16.53
2023-09-27   TISCOMS-A  19.81
2023-09-27     ASP-SME  18.51
2023-09-27     KKP-TQG   8.43
2023-09-27      KTMSEQ  18.29
2023-09-28  KKP-SM-CAP  14.48
2023-09-28  K-MIDSMALL  16.38
2023-09-28   TISCOMS-A  19.57
2023-09-28     ASP-SME  18.40
2023-09-28     KKP-TQG   8.36
2023-09-28      KTMSEQ  18.14
2023-09-29  K-MIDSMALL  16.37
2023-09-29     KKP-TQG   8.33
2023-09-29  KKP-SM-CAP  14.52
2023-09-29     ASP-SME  18.39
2023-09-29      KTMSEQ  18.11
2023-09-29   TISCOMS-A  19.68

# Basic

# Resample data and calculate Percentage of change

In [59]:
colsROC=['symbol','date','pct_change']
df_Pct_Price=pd.DataFrame(columns=colsROC)
df_Pct_Price

Empty DataFrame
Columns: [symbol, date, pct_change]
Index: []

In [60]:
for symbol_name in list_symbol:

    dfx_symbol=df.query('symbol==@symbol_name')
    print(f"===================================={symbol_name}====================================")

    dfx_px=dfx_symbol.resample(timeframe).last()
    dfx_px=dfx_px.reset_index()
    print(f"List {timeframe} Price")
    print(dfx_px)

    dfx_px['pct_change']=dfx_px['price'].pct_change()*100
    dfx_px['pct_change']=dfx_px['pct_change'].round(2)

    dfx_px=dfx_px.dropna() # the first  rown 
    dfx_px=dfx_px.drop(columns=['price']) # remove price becase we are focuse ROC of Price
    dfx_px=dfx_px[colsROC]
    
    print(f"Calculate ROC of {symbol_name}")
    print(dfx_px)
    
    df_Pct_Price=pd.concat([df_Pct_Price,dfx_px],ignore_index=True,axis=0)

====================================ASP-SME====================================
List W-FRI Price
        date   symbol  price
0 2023-09-01  ASP-SME  19.26
1 2023-09-08  ASP-SME  19.08
2 2023-09-15  ASP-SME  18.90
3 2023-09-22  ASP-SME  18.77
4 2023-09-29  ASP-SME  18.39
Calculate ROC of ASP-SME
    symbol       date  pct_change
1  ASP-SME 2023-09-08       -0.93
2  ASP-SME 2023-09-15       -0.94
3  ASP-SME 2023-09-22       -0.69
4  ASP-SME 2023-09-29       -2.02
====================================KKP-TQG====================================
List W-FRI Price
        date   symbol  price
0 2023-09-01  KKP-TQG   8.68
1 2023-09-08  KKP-TQG   8.59
2 2023-09-15  KKP-TQG   8.60
3 2023-09-22  KKP-TQG   8.60
4 2023-09-29  KKP-TQG   8.33
Calculate ROC of KKP-TQG
    symbol       date  pct_change
1  KKP-TQG 2023-09-08       -1.04
2  KKP-TQG 2023-09-15        0.12
3  KKP-TQG 2023-09-22        0.00
4  KKP-TQG 2023-09-29       -3.14
====================================KKP-SM-CAP====================================
List W-FRI Price
        date      symbol  price
0 2023-09-01  KKP-SM-CAP  15.18
1 2023-09-08  KKP-SM-CAP  15.10
2 2023-09-15  KKP-SM-CAP  15.02
3 2023-09-22  KKP-SM-CAP  14.86
4 2023-09-29  KKP-SM-CAP  14.52
Calculate ROC of KKP-SM-CAP
       symbol       date  pct_change
1  KKP-SM-CAP 2023-09-08       -0.53
2  KKP-SM-CAP 2023-09-15       -0.53
3  KKP-SM-CAP 2023-09-22       -1.07
4  KKP-SM-CAP 2023-09-29       -2.29
====================================KTMSEQ====================================
List W-FRI Price
        date  symbol  price
0 2023-09-01  KTMSEQ  18.90
1 2023-09-08  KTMSEQ  18.91
2 2023-09-15  KTMSEQ  18.79
3 2023-09-22  KTMSEQ  18.64
4 2023-09-29  KTMSEQ  18.11
Calculate ROC of KTMSEQ
   symbol       date  pct_change
1  KTMSEQ 2023-09-08        0.05
2  KTMSEQ 2023-09-15       -0.63
3  KTMSEQ 2023-09-22       -0.80
4  KTMSEQ 2023-09-29       -2.84
====================================K-MIDSMALL====================================
List W-FRI Price
        date      symbol  price
0 2023-09-01  K-MIDSMALL  17.41
1 2023-09-08  K-MIDSMALL  17.39
2 2023-09-15  K-MIDSMALL  17.18
3 2023-09-22  K-MIDSMALL  16.98
4 2023-09-29  K-MIDSMALL  16.37
Calculate ROC of K-MIDSMALL
       symbol       date  pct_change
1  K-MIDSMALL 2023-09-08       -0.11
2  K-MIDSMALL 2023-09-15       -1.21
3  K-MIDSMALL 2023-09-22       -1.16
4  K-MIDSMALL 2023-09-29       -3.59
====================================TISCOMS-A====================================
List W-FRI Price
        date     symbol  price
0 2023-09-01  TISCOMS-A  20.45
1 2023-09-08  TISCOMS-A  20.56
2 2023-09-15  TISCOMS-A  20.39
3 2023-09-22  TISCOMS-A  20.19
4 2023-09-29  TISCOMS-A  19.68
Calculate ROC of TISCOMS-A
      symbol       date  pct_change
1  TISCOMS-A 2023-09-08        0.54
2  TISCOMS-A 2023-09-15       -0.83
3  TISCOMS-A 2023-09-22       -0.98
4  TISCOMS-A 2023-09-29       -2.53

In [70]:
print("==============================================================")
print("List calculate Percentage of change")
print(df_Pct_Price)

        symbol       date  pct_change
0      ASP-SME 2023-09-08       -0.93
1      ASP-SME 2023-09-15       -0.94
2      ASP-SME 2023-09-22       -0.69
3      ASP-SME 2023-09-29       -2.02
4      KKP-TQG 2023-09-08       -1.04
5      KKP-TQG 2023-09-15        0.12
6      KKP-TQG 2023-09-22        0.00
7      KKP-TQG 2023-09-29       -3.14
8   KKP-SM-CAP 2023-09-08       -0.53
9   KKP-SM-CAP 2023-09-15       -0.53
10  KKP-SM-CAP 2023-09-22       -1.07
11  KKP-SM-CAP 2023-09-29       -2.29
12      KTMSEQ 2023-09-08        0.05
13      KTMSEQ 2023-09-15       -0.63
14      KTMSEQ 2023-09-22       -0.80
15      KTMSEQ 2023-09-29       -2.84
16  K-MIDSMALL 2023-09-08       -0.11
17  K-MIDSMALL 2023-09-15       -1.21
18  K-MIDSMALL 2023-09-22       -1.16
19  K-MIDSMALL 2023-09-29       -3.59
20   TISCOMS-A 2023-09-08        0.54
21   TISCOMS-A 2023-09-15       -0.83
22   TISCOMS-A 2023-09-22       -0.98
23   TISCOMS-A 2023-09-29       -2.53

# Sum percentage of fund return

In [62]:
print("==============================================================")
print("Sum percentage of fund return")
dfSum_Pct_Price=df_Pct_Price.groupby(['symbol'])[['pct_change']].sum()
dfSum_Pct_Price.reset_index(drop=False,inplace=True)
dfSum_Pct_Pric=dfSum_Pct_Price.sort_values(by="pct_change",ascending=False)
dfSum_Pct_Price["pct_change"]=dfSum_Pct_Price["pct_change"].round(1)
print(dfSum_Pct_Price)

       symbol  pct_change
0     ASP-SME        -4.6
1  K-MIDSMALL        -6.1
2  KKP-SM-CAP        -4.4
3     KKP-TQG        -4.1
4      KTMSEQ        -4.2
5   TISCOMS-A        -3.8

In [63]:
# writer=pd.ExcelWriter( "BasicFundPerformanceReport.xlsx",engine='openpyxl') 

# df_Pct_Price.to_csv(f"ETF-{timeframe}-Return.csv",index=False)
# dfSum_Pct_Price.to_csv(f"ETF-{timeframe}-TotalReturn.csv",index=False)

# Advance

# Pivot Percent Return To Dataframe

In [64]:
print("==============================================================")
print("Pivot Percent Return To Dataframe")
dfPct=df_Pct_Price.pivot(index='date', columns='symbol', values='pct_change')
# print(dfPct.info())
print(dfPct)

symbol      ASP-SME  K-MIDSMALL  KKP-SM-CAP  KKP-TQG  KTMSEQ  TISCOMS-A
date
2023-09-08    -0.93       -0.11       -0.53    -1.04    0.05       0.54
2023-09-15    -0.94       -1.21       -0.53     0.12   -0.63      -0.83
2023-09-22    -0.69       -1.16       -1.07     0.00   -0.80      -0.98
2023-09-29    -2.02       -3.59       -2.29    -3.14   -2.84      -2.53

# Take Percent Return to Find Rank

In [65]:
print("==============================================================")
print("Take Percent Return to Find Rank")
dfRank=dfPct[dfPct.columns.tolist()].rank(method='max',axis=1)
print(dfRank)

symbol      ASP-SME  K-MIDSMALL  KKP-SM-CAP  KKP-TQG  KTMSEQ  TISCOMS-A
date
2023-09-08      2.0         4.0         3.0      1.0     5.0        6.0
2023-09-15      2.0         1.0         5.0      6.0     4.0        3.0
2023-09-22      5.0         1.0         2.0      6.0     4.0        3.0
2023-09-29      6.0         1.0         5.0      2.0     3.0        4.0

# Combine Both return and Rank

In [67]:
print("==============================================================")
print("Combine Both return and Rank")
dfSummary=pd.concat([\
                     dfPct.sum().to_frame(name='sum_return'),\
                     dfRank.sum().to_frame(name='sum_rank'),\
                    ],axis=1)
dfSummary.fillna(value=0,inplace=True)
print(dfSummary)

            sum_return  sum_rank
symbol
ASP-SME          -4.58      15.0
K-MIDSMALL       -6.07       7.0
KKP-SM-CAP       -4.42      15.0
KKP-TQG          -4.06      15.0
KTMSEQ           -4.22      16.0
TISCOMS-A        -3.80      16.0

# Summarize Total Score

In [68]:
print("==============================================================")
print("Summarize Total Score ")
dfFinalScore=dfSummary.rank(method='max',axis=0)
dfFinalScore['TotalScore']=dfFinalScore.sum(axis=1)
dfFinalScore.sort_values(by='TotalScore',ascending=False,inplace=True)
print(dfFinalScore)

            sum_return  sum_rank  TotalScore
symbol
TISCOMS-A          6.0       6.0        12.0
KTMSEQ             4.0       6.0        10.0
KKP-TQG            5.0       4.0         9.0
KKP-SM-CAP         3.0       4.0         7.0
ASP-SME            2.0       4.0         6.0
K-MIDSMALL         1.0       1.0         2.0

In [69]:
if isPriceExcel:
    print("Export outcoome as Excel")
    with pd.ExcelWriter(f"{report_prefix_name}_{timeframe}_{from_str}To{to_str}.xlsx") as writer:
        dfPct.to_excel(writer, sheet_name=f"{timeframe}-Return")
        dfSum_Pct_Price.to_excel(writer, sheet_name="Return")
        dfRank.to_excel(writer, sheet_name="RANK")
        dfSummary.to_excel(writer, sheet_name="Summary")
        dfFinalScore.to_excel(writer, sheet_name="FinalScore")