In [1]:
import pandas as pd
from ami2py import AmiDataBase, SymbolEntry
#https://github.com/F2011B/ami2py

In [258]:
csv_path=r'D:\AB_DB\Script_ImportData\Fund_File\AB_Fund_World.csv'
ab_path='D:/AB_DB/AB_Fund_World'

In [259]:
db = AmiDataBase(ab_path)

In [260]:
df=pd.read_csv(csv_path)
df['Date']=pd.to_datetime(df['Date'],format='%Y-%m-%d')
df['Volume']=df['Volume'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737 entries, 0 to 736
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  737 non-null    object
 1   Date    737 non-null    datetime64[ns]
 2   Open    737 non-null    float64
 3   High    737 non-null    float64
 4   Low     737 non-null    float64
 5   Close   737 non-null    float64
 6   Volume  737 non-null    float64
 7   Name    737 non-null    object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 46.2+ KB

In [261]:
sample_symbols=['AAXJ','TDEX.BK']
#sample_symbols=['AAXJ']
df=df.query("Ticker in @sample_symbols")
df.reset_index(inplace=True,drop=True)
df['Day']=df['Date'].dt.day
df['Month']=df['Date'].dt.month
df['Year']=df['Date'].dt.year

symbolList=df['Ticker'].unique()

df=df[['Ticker','Day','Month','Year','Open','High','Low','Close','Volume']]

print(symbolList)
df.info()
df

['AAXJ' 'TDEX.BK']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  11 non-null     object
 1   Day     11 non-null     int64
 2   Month   11 non-null     int64
 3   Year    11 non-null     int64
 4   Open    11 non-null     float64
 5   High    11 non-null     float64
 6   Low     11 non-null     float64
 7   Close   11 non-null     float64
 8   Volume  11 non-null     float64
dtypes: float64(5), int64(3), object(1)
memory usage: 920.0+ bytes

     Ticker  Day  Month  Year   Open   High    Low  Close     Volume
0      AAXJ   30     11  2022  66.08  66.83  65.67  66.70  1378300.0
1      AAXJ    1     12  2022  66.86  67.12  66.40  66.64   760900.0
2      AAXJ    2     12  2022  65.74  67.08  65.74  66.88   629100.0
3      AAXJ    5     12  2022  67.11  67.14  66.23  66.39   763700.0
4      AAXJ    6     12  2022  66.71  66.71  66.15  66.30   519500.0
5      AAXJ    7     12  2022  65.71  65.99  65.50  65.84  1160900.0
6   TDEX.BK    1     12  2022   9.85   9.87   9.84   9.85   483700.0
7   TDEX.BK    2     12  2022   9.84   9.86   9.78   9.78   174000.0
8   TDEX.BK    6     12  2022   9.80   9.81   9.72   9.75   717100.0
9   TDEX.BK    7     12  2022   9.75   9.76   9.71   9.73   162800.0
10  TDEX.BK    8     12  2022   9.72   9.72   9.67   9.70   183271.0

In [262]:
# Write By using append_symbole_entry
# for index, row  in df.iterrows():
#     db.ensure_symbol_folder(row['Ticker'])

#     db.append_symbole_entry(
#         row['Ticker'],    
#         SymbolEntry(
#             Close=row['Close'],
#             High=row['High'],
#             Low=row['Low'],
#             Open=row['Open'],
#             Volume=row['Volume'],
#             Month=row.Month,
#             Year=row.Year,
#             Day=row.Day,
#         ),
#     )
#     db.write_database()

In [263]:
symbolDict={}
for symbol in symbolList:
    
    dfTemp=df.query('Ticker==@symbol')
    dfTemp=dfTemp.drop(columns=['Ticker'])
        
    dict_data={}
    for col in dfTemp.columns:
      dict_data[col]= dfTemp[col].tolist()
    
    symbolDict[symbol]=dict_data
    
for key,item in symbolDict.items():
    print(key)
    print(item)
    
db.append_symbol_data(symbolDict)
db.write_database()

AAXJ
{'Day': [30, 1, 2, 5, 6, 7], 'Month': [11, 12, 12, 12, 12, 12], 'Year': [2022, 2022, 2022, 2022, 2022, 2022], 'Open': [66.08, 66.86, 65.74, 67.11, 66.71, 65.71], 'High': [66.83, 67.12, 67.08, 67.14, 66.71, 65.99], 'Low': [65.67, 66.4, 65.74, 66.23, 66.15, 65.5], 'Close': [66.7, 66.64, 66.88, 66.39, 66.3, 65.84], 'Volume': [1378300.0, 760900.0, 629100.0, 763700.0, 519500.0, 1160900.0]}
TDEX.BK
{'Day': [1, 2, 6, 7, 8], 'Month': [12, 12, 12, 12, 12], 'Year': [2022, 2022, 2022, 2022, 2022], 'Open': [9.85, 9.84, 9.8, 9.75, 9.72], 'High': [9.87, 9.86, 9.81, 9.76, 9.72], 'Low': [9.84, 9.78, 9.72, 9.71, 9.67], 'Close': [9.85, 9.78, 9.75, 9.73, 9.7], 'Volume': [483700.0, 174000.0, 717100.0, 162800.0, 183271.0]}

In [1]:
import pandas as pd
csv_path=r'D:\AB_DB\Script_ImportData\Fund_File\AB_Fund_World.csv'
df=pd.read_csv(csv_path)
df['Date']=pd.to_datetime(df['Date'],format='%Y-%m-%d')
df['Volume']=df['Volume'].astype(float)
df=df.drop(columns=['Name'])
df.columns=['Ticker', 'Date_YMD', 'Open', 'High', 'Low', 'Close', 'Volume']
df.to_csv('Test-Yahoo_To_AB.csv',index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ticker    945 non-null    object
 1   Date_YMD  945 non-null    datetime64[ns]
 2   Open      945 non-null    float64
 3   High      945 non-null    float64
 4   Low       945 non-null    float64
 5   Close     945 non-null    float64
 6   Volume    945 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 51.8+ KB

In [9]:
from win32com.client import Dispatch
import os
oab = Dispatch('Broker.Application')

file_path= "D:\PythonDev\MyQuantFinProject\AB-Python\Test-Yahoo_To_AB.csv"
format_path="D:\PythonDev\MyQuantFinProject\AB-Python\wizard.format"

if os.path.exists(file_path) and  os.path.exists(format_path):
 oab.Import( 0, file_path, format_path )        
 oab.SaveDatabase()
 oab.RefreshAll()   
else:
 print("not foud one of them")