In [1]:
import pandas as pd
import sqlite3
import os
import numpy as np
from datetime import datetime, timedelta,date
from dotenv import dotenv_values
from binance.client import Client

 # SELECT symbol_pair,count(*) as  no_tran from hist_trade  
 #        where datetimeUTC >'2023-01-01' GROUP by symbol_pair

 # SELECT * from hist_trade  
 #        where datetimeUTC >'2023-01-01' order by  datetimeUTC desc

In [2]:
# create database  DB_BN_MyTrade.db with 2 tables as schema below. 
# CREATE TABLE "hist_trade" (
# 	"datetimeUTC"	TEXT,
# 	"symbol_pair"	TEXT,
# 	"symbol"	TEXT,
# 	"pair"	TEXT,
# 	"type"	TEXT,
# 	"price"	REAL,
# 	"qty"	REAL,
# 	"total"	REAL,
# 	"commission"	REAL,
# 	"commissionAsset"	TEXT
# );


# CREATE TABLE "symbol_info" (
# 	"symbol"	TEXT,
# 	"pair"	TEXT,
# 	"isActive"	INTEGER
# );


#sample data "hist_trade"
# 2022-08-13 01:18:00,MATICBUSD,MATIC,BUSD,SELL,0.94,22.0,20.68,0.0,BNB

# sample data in   "symbol_info"
# symbol,pair,active
# ETH,BUSD,1

In [3]:
path_config=r'D:\AB_DB\Script_ImportData'
config_values= dotenv_values(dotenv_path=f'{path_config}\\.env')
api_key = config_values['bn_key']
api_secret =config_values['bn_secrete']
client=Client(api_key,api_secret)

In [4]:
today=date.today()
today=datetime(today.year,today.month,today.day)
print(today)

2023-10-31 00:00:00

In [5]:
data_base_file=f'{path_config}\\Database\\DB_BN_MyTrade.db'
print("Connect SQLite")
conn = sqlite3.connect(os.path.abspath(data_base_file))
sqlite3.register_adapter(np.int64, lambda val: int(val))
sqlite3.register_adapter(np.int32, lambda val: int(val))

Connect SQLite

In [6]:
sql_symbol="select * from symbol_info where isActive=1"
dfSymbols=pd.read_sql_query(sql_symbol, conn)
dfSymbols['symbol_pair']=dfSymbols.apply( lambda x: f"{x.symbol}{x.pair}",axis=1)
dfSymbols = dfSymbols.drop_duplicates(keep='first')
dfSymbols=dfSymbols.set_index('symbol_pair')
dfSymbols

            symbol  pair  isActive
symbol_pair
ETHBUSD        ETH  BUSD         1
BTCBUSD        BTC  BUSD         1
BNBBUSD        BNB  BUSD         1
MATICBUSD    MATIC  BUSD         1

# Get data from Binanac and transform

In [7]:
cols=['datetimeUTC','symbol_pair','symbol','pair','type','price','qty','total','commission','commissionAsset']

In [8]:
def split_main_pair_symbol(symbol_pair,main):
    pair=''
    main_idx=symbol_pair.rfind(main)
    if main_idx==0:
     pair= symbol_pair.replace(main, '')
    return main,pair

In [9]:
def transform_trans_to_df(tradesList,symbol_main):
    dfTrade=pd.DataFrame(data=tradesList)
    
    dfTrade["datetimeUTC"]=pd.to_datetime(dfTrade["time"],unit="ms")
    dfTrade["datetimeUTC"]=dfTrade['datetimeUTC'].dt.strftime("%Y-%m-%d %H:%M:%S")
    dfTrade["datetimeUTC"]=pd.to_datetime(dfTrade["datetimeUTC"],format="%Y-%m-%d %H:%M:%S")
    
    dfTrade['type']= dfTrade['isBuyer'].apply( lambda x : 'BUY' if x==True else 'SELL')
    # dfTrade['total']=dfTrade['price']*dfTrade['qty']
    dfTrade=dfTrade.rename(columns={'symbol':'symbol_pair','quoteQty':'total'})
    
    main,pair=split_main_pair_symbol(symbol_pair,symbol_main)
    dfTrade['symbol']=main
    dfTrade['pair']=pair
    
    cols_number=['price','qty','total','commission']
    dfTrade[cols_number]= dfTrade[cols_number].astype("float")
    
    
    dfTrade=dfTrade[cols]
    return dfTrade

In [10]:
sr_symbol_pair=dfSymbols['symbol']
print(sr_symbol_pair)

symbol_pair
ETHBUSD        ETH
BTCBUSD        BTC
BNBBUSD        BNB
MATICBUSD    MATIC
Name: symbol, dtype: object

In [11]:
dfAllTran=pd.DataFrame(columns=cols)

In [12]:
for  item in sr_symbol_pair.iteritems():
    main_pair=item[0]
    main=item[1]
    sql_last_trans=f""" SELECT * from hist_trade  
        where symbol_pair='{main_pair}' order by datetimeUTC desc limit 1 """

    dfLastTran=pd.read_sql_query(sql_last_trans, conn)
    if dfLastTran.empty==False:
        print(f'====================Last Transaction of {main}==============================')
        print(dfLastTran[['datetimeUTC','symbol_pair','type','price','qty','total']])
        srLastTran=dfLastTran.iloc[0,:]
        symbol_pair=srLastTran['symbol_pair']
        dtLastStr=srLastTran['datetimeUTC']
    
        dtLast=datetime.strptime(dtLastStr, '%Y-%m-%d %H:%M:%S')
        startDate=datetime.strptime(dtLastStr, "%Y-%m-%d %H:%M:%S").date()
        startDateTime=datetime(startDate.year, startDate.month, startDate.day)
        
        
        # while startDateTime<=today:
        try:    
            statrTimestampMs= (int(round(startDateTime.timestamp())))* 1000
            trades_of_x = client.get_my_trades(symbol=symbol_pair,startTime=statrTimestampMs)
            if len(trades_of_x)>0:
                df_daily_trades=transform_trans_to_df(trades_of_x,main)
                df_daily_trades=df_daily_trades.query('datetimeUTC>@dtLast')
                if  df_daily_trades.empty ==False:
                 print(df_daily_trades[['datetimeUTC','symbol_pair','type','price','qty','total']])
                 dfAllTran=pd.concat([dfAllTran,df_daily_trades])
        except BinanceAPIException as e:
              print(e)
            
        # startDateTime=startDateTime+timedelta(days=1)

C:\Users\pongthsa\AppData\Local\Temp\ipykernel_18208\456605943.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for  item in sr_symbol_pair.iteritems():

====================Last Transaction of ETH==============================
           datetimeUTC symbol_pair  type   price   qty   total
0  2022-12-16 09:00:22     ETHBUSD  SELL  1239.6  0.02  24.792
            datetimeUTC symbol_pair  type    price     qty      total
1   2023-02-14 12:34:07     ETHBUSD   BUY  1511.57  0.0200  30.231400
2   2023-02-15 18:45:39     ETHBUSD   BUY  1594.17  0.0127  20.245959
3   2023-02-15 18:45:39     ETHBUSD   BUY  1594.18  0.0123  19.608414
4   2023-02-16 22:31:36     ETHBUSD   BUY  1660.00  0.0180  29.880000
5   2023-02-21 21:22:08     ETHBUSD  SELL  1649.40  0.0148  24.411120
..                  ...         ...   ...      ...     ...        ...
106 2023-08-01 12:42:19     ETHBUSD   BUY  1833.84  0.0150  27.507600
107 2023-08-01 12:43:48     ETHBUSD   BUY  1832.97  0.0100  18.329700
108 2023-08-01 15:30:32     ETHBUSD  SELL  1814.62  0.0125  22.682750
109 2023-08-01 23:30:45     ETHBUSD  SELL  1870.00  0.0125  23.375000
110 2023-08-09 15:14:16     ETHBUSD  SELL  1849.90  0.0179  33.113210

[110 rows x 6 columns]
====================Last Transaction of BTC==============================
           datetimeUTC symbol_pair  type     price      qty      total
0  2022-11-08 14:41:33     BTCBUSD  SELL  19348.93  0.00117  22.638248
           datetimeUTC symbol_pair  type     price      qty      total
2  2023-02-14 06:41:34     BTCBUSD   BUY  21757.39  0.00140  30.460346
3  2023-02-14 06:45:06     BTCBUSD   BUY  21753.14  0.00100  21.753140
4  2023-02-15 18:43:38     BTCBUSD   BUY  22950.00  0.00135  30.982500
5  2023-02-16 23:35:40     BTCBUSD   BUY  23800.00  0.00140  33.320000
6  2023-02-22 01:57:32     BTCBUSD  SELL  24149.60  0.00100  24.149600
..                 ...         ...   ...       ...      ...        ...
77 2023-07-13 19:25:10     BTCBUSD   BUY  31477.72  0.00100  31.477720
78 2023-07-17 18:33:36     BTCBUSD  SELL  29918.38  0.00100  29.918380
79 2023-07-19 07:44:20     BTCBUSD   BUY  30000.00  0.00100  30.000000
80 2023-07-24 15:02:01     BTCBUSD  SELL  28995.00  0.00230  66.688500
81 2023-07-26 18:42:03     BTCBUSD  SELL  29482.00  0.00200  58.964000

[80 rows x 6 columns]
====================Last Transaction of BNB==============================
           datetimeUTC symbol_pair  type  price    qty    total
0  2022-11-08 12:01:35     BNBBUSD  SELL  324.4  0.032  10.3808
          datetimeUTC symbol_pair  type  price    qty    total
1 2023-04-09 12:37:20     BNBBUSD   BUY  311.1  0.060  18.6660
2 2023-04-14 16:32:15     BNBBUSD   BUY  324.0  0.070  22.6800
3 2023-04-19 19:02:31     BNBBUSD  SELL  324.9  0.080  25.9920
4 2023-06-04 10:02:24     BNBBUSD   BUY  307.5  0.115  35.3625
5 2023-06-05 14:58:15     BNBBUSD   BUY  300.2  0.100  30.0200
6 2023-06-05 15:02:36     BNBBUSD  SELL  298.9  0.115  34.3735
7 2023-06-05 15:02:36     BNBBUSD  SELL  298.9  0.100  29.8900
8 2023-06-12 02:25:05     BNBBUSD  SELL  226.8  0.042   9.5256
9 2023-08-21 04:46:32     BNBBUSD  SELL  215.5  0.048  10.3440
====================Last Transaction of MATIC==============================
           datetimeUTC symbol_pair  type  price   qty   total
0  2022-11-08 16:05:35   MATICBUSD  SELL   1.17  26.7  31.239
           datetimeUTC symbol_pair  type   price   qty    total
4  2023-02-14 12:33:37   MATICBUSD   BUY  1.1833  25.0  29.5825
5  2023-02-15 19:15:17   MATICBUSD   BUY  1.2900  30.0  38.7000
6  2023-02-20 18:23:42   MATICBUSD  SELL  1.4543  15.0  21.8145
7  2023-02-22 08:31:13   MATICBUSD   BUY  1.3300  25.0  33.2500
8  2023-02-24 08:55:33   MATICBUSD   BUY  1.3449  50.0  67.2450
9  2023-02-24 13:35:13   MATICBUSD  SELL  1.3190  30.4  40.0976
10 2023-02-24 13:35:13   MATICBUSD  SELL  1.3190  13.1  17.2789
11 2023-02-24 13:35:13   MATICBUSD  SELL  1.3190   6.5   8.5735
12 2023-02-24 22:38:48   MATICBUSD  SELL  1.2490  25.0  31.2250
13 2023-02-27 10:39:06   MATICBUSD   BUY  1.2350  20.0  24.7000
14 2023-02-28 21:33:47   MATICBUSD  SELL  1.1948  20.0  23.8960
15 2023-02-28 21:33:47   MATICBUSD  SELL  1.1948  20.0  23.8960
16 2023-03-12 23:29:28   MATICBUSD  SELL  1.1500  20.0  23.0000

# Add to SQLite3

In [13]:
def insertTradeTransaction(recordList):
    try:
        sqliteConnection = sqlite3.connect(os.path.abspath(data_base_file))
        cursor = sqliteConnection.cursor()
        print("Connected to SQLite")

        sqlite_insert_query = """
        INSERT INTO hist_trade
         VALUES (?,?,?,?,?,?,?,?,?,?);
         """

        cursor.executemany(sqlite_insert_query, recordList)
        sqliteConnection.commit()
        print("Total ", cursor.rowcount, " Add transaction successfully")
        sqliteConnection.commit()
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to insert multiple records to table", error)
    finally:
        if sqliteConnection:
            sqliteConnection.close()
            print("The SQLite connection is closed")

In [14]:
# from google.cloud import bigquery
# table_id = "pongthorn.FinDW.bn_hist_trade"
# def insertTradeToBQ(df_trasns):
#     client = bigquery.Client()
#     job_config = bigquery.LoadJobConfig(

#         schema=[
#             bigquery.SchemaField("datetimeUTC", bigquery.enums.SqlTypeNames.DATETIME),
#             bigquery.SchemaField("symbol_pair", bigquery.enums.SqlTypeNames.STRING),
#             bigquery.SchemaField("symbol", bigquery.enums.SqlTypeNames.STRING),
#             bigquery.SchemaField("pair", bigquery.enums.SqlTypeNames.STRING),
#             bigquery.SchemaField("type", bigquery.enums.SqlTypeNames.STRING),
#             bigquery.SchemaField("price", bigquery.enums.SqlTypeNames.FLOAT64),
#             bigquery.SchemaField("qty", bigquery.enums.SqlTypeNames.FLOAT64),
#             bigquery.SchemaField("total", bigquery.enums.SqlTypeNames.FLOAT64),
#             bigquery.SchemaField("commission", bigquery.enums.SqlTypeNames.FLOAT64),
#             bigquery.SchemaField("commissionAsset", bigquery.enums.SqlTypeNames.STRING),

#         ],
#         write_disposition="WRITE_APPEND",
#     )

#     job = client.load_table_from_dataframe(
#         df_trasns, table_id, job_config=job_config
#     )  # Make an API request.
#     job.result()  # Wait for the job to complete.
#     print("Total ", len(df_trasns), " Add transaction to google bigquery successfully")

In [15]:
if dfAllTran.empty==False:
    dfAllTran=dfAllTran.reset_index(drop=True)
    dfAllTran = dfAllTran.drop_duplicates(keep='last')
    dfAllTran["datetimeUTC"]=dfAllTran['datetimeUTC'].dt.strftime("%Y-%m-%d %H:%M:%S")  # for add to sqlite
    print(dfAllTran.info())
    print(dfAllTran[['datetimeUTC','symbol_pair','type','price','qty','total']])
    
    recordsToInsert=list(dfAllTran.to_records(index=False))
    insertTradeTransaction(recordsToInsert)
    
    dfAllTran['datetimeUTC']=pd.to_datetime(dfAllTran["datetimeUTC"],format="%Y-%m-%d %H:%M:%S")  # for add to bigquery
    # insertTradeToBQ(dfAllTran)
else:
    print("no transsaction update")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   datetimeUTC      1 non-null      object
 1   symbol_pair      1 non-null      object
 2   symbol           1 non-null      object
 3   pair             1 non-null      object
 4   type             1 non-null      object
 5   price            1 non-null      float64
 6   qty              1 non-null      float64
 7   total            1 non-null      float64
 8   commission       1 non-null      float64
 9   commissionAsset  1 non-null      object
dtypes: float64(4), object(6)
memory usage: 88.0+ bytes
None
           datetimeUTC symbol_pair type    price   qty    total
0  2023-07-03 15:35:07     ETHBUSD  BUY  1976.12  0.01  19.7612
Connected to SQLite
Total  1  Add transaction successfully
The SQLite connection is closed